td {
  padding: 1px 10px 0px 2px;
  font-family: Arial;
  white-space: nowrap;
  vertical-align: text-top;
}
.icon {
  text-align: right;
  padding: 0px;
}
.name {
  width: 400px;
}
.size {
  width: 100px;
  text-align: right;
}
.desc {
  white-space: normal;
  min-width: 400px;
}